<app-menu></app-menu>
<h3>Expense List</h3>
<a routerLink="/exp/create">Create New</a> |
<input [(ngModel)]="searchCriteria" placeholder="search">
<table class="table table-striped table-sm table-dark">
    <thead>
        <tr>
            <th><button (click)="sortFn('id')" class="btn btn-link">Id</button></th>
            <th><button (click)="sortFn('description')" class="btn btn-link">Desc</button></th>
            <th><button (click)="sortFn('status')" class="btn btn-link">Status</button></th>
            <th><button (click)="sortFn('total')" class="btn btn-link">Total</button></th>
            <th><button (click)="sortFn('employeeName')" class="btn btn-link">Employee</button></th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let exp of expenses | expenseSearch:searchCriteria | sort:sortColumn:sortAsc">
            <td>{{ exp.id }}</td>
            <td>{{ exp.description }}</td>
            <td>{{ exp.status }}</td>
            <td>{{ exp.total | currency}}</td>
            <td>{{ exp.employee.name}}</td>
            <td>
                <a routerLink="/exp/detail/{{exp.id}}">Detail</a> ||
                <a routerLink="/exp/edit/{{exp.id}}">Edit</a> ||
                <a routerLink="/exp/lines/{{exp.id}}">Lines</a>
            </td>
        </tr>
    </tbody>
</table>
