<h3>Expense Edit</h3>

<table class="table table-striped table-sm table-info" *ngIf="back">
    <tbody>
        <tr>
            <td>Id</td>
            <td><input [(ngModel)]="expense.id" disabled></td>
        </tr>
        <tr>
            <td>Description</td>
            <td><input [(ngModel)]="expense.description"></td>
        </tr>
        <tr>
            <td>Status</td>
            <td><input [(ngModel)]="expense.status"></td>
        </tr>
        <tr>
            <td>Total</td>
            <td><input [(ngModel)]="expense.total"></td>
        </tr>
        <td>Employee</td>
        <td>
            <select [(ngModel)]="expense.employeeId" name="employeeId">
                <option *ngFor="let emp of employees" value="{{emp.id}}">{{ emp.name }}</option>
            </select>
        </td>
    </tbody>
</table>
<div>
    <button (click)="save()" class="btn btn-primary">Save</button>
</div>

