<h3>Expenseline Edit</h3>

<table class="table table-striped table-sm table-info" *ngIf="expenseline">
    <tbody>
        <tr>
            <td>Id</td>
            <td><input [(ngModel)]="expenseline.id" disabled></td>
        </tr>
        <tr>
            <td>Quantity</td>
            <td><input [(ngModel)]="expenseline.quantity"></td>
        </tr>
        <tr>
            <td>Item</td>
            <td><select [(ngModel)]="expenseline.itemId" name="itemId">
                <option *ngFor="let item of items" value="{{ item.id }}">{{ item.name }}</option>
            </select>
            </td>
        </tr>
    </tbody>
</table>
<div>
    <button (click)="save()" class="btn btn-primary">Save</button>
</div>